body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.post-link {
    text-decoration: none;
}

header {
    min-height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: blue;
    color: white;
}
.header-container {
    display: flex;
    width: 100%;
    max-width: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .3);
}


.profile-image {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 33%;
    background-image: url(../assets/profile.png);
    background-size: cover;
}

.profile-name {
    font-size: 2em;
    font-weight: bold;
}


footer {
    min-height: 100px;
    background-color: #eaecee70;
    color: #929eaa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 14px;
}